.container-fluid{
    padding: 10px;
}

.google-img{
    width: 100px;
    padding-bottom: 5px;
    transition: all 0.5s;
}

.google-img:hover{
    width: 120px;
}

.termini{
    color: gray;
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
    transition: all 0.5s;
}

.termini:hover{
    font-size: 35px;
}

.fa-bars{
    color: gray;
    transition: all 0.5s;
}

.fa-bars:hover{
    font-size: 30px;
}

.fa-user{
    background-color: royalblue;
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-size: 20px;
    transition: all 0.5s;
}

.fa-user:hover{
    font-size: 30px;
    background-color: rgb(217, 0, 255);
    padding: 12px;
}

.barra a {
    text-decoration: none;
    color: grey;
    margin-left: 15px;
    font-size: 17px;
    transition: all 0.2s;
}

.barra a:hover{
    color: rgb(77, 77, 255);
    border-bottom: 3px solid rgb(77, 77, 255);
    padding-bottom: 16px;
}

.barra a:first-child{
    margin: 0;
}

.titolo{
    margin: 80px 0 25px 0;
}

a{
    text-decoration: none;
    transition: all 0.2s;
}

.php{
    color: rgb(36, 36, 36);
}